* {
  margin: 0;
  padding: 0;
}

/*iMAGE gALLERY*/
#carousel {
    width: 100%;
    height: 300px;
    overflow: visible;
    white-space:nowrap;
    padding-bottom: 100px;
    margin-left: 100px;
}

#carousel .slide {
    display: inline-block;
}

.slide {
  max-height: 300px;
}

img {
  max-height: 300px;
}
/*FLEX*/

ul {
  display: flex;
  flex-direction: row;
  max-width: 650px;
}

.row {
  justify-content: space-around;
  flex-wrap: wrap;
}

#content-wrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.main-header {
  display: flex;
  flex-direction: row-reverse;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
/*AESTHETICS for HOMEPAGE*/

.name {
  font-family: 'Permanent Marker', cursive;
  color: #4a7acf;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Questrial', sans-serif;
  margin: 70px 30px 25px 30px;
  background-color: #fabec6;
}



ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 25px
}


a {
    text-decoration: none;
    color: #fff;
}

footer {
  padding: 10px;
  margin-top: 15px;
}

li {
  padding: 5px;
}



.cart {
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*AESTHETICS for PHOTOGRAPHY*/
.photo-wrap {
  margin: 15px;
  box-shadow: 10px 10px 100px #fff;
  margin-top: 25px;
}

.gallery {
  background-color: #ffb86d;
}



/*AESTHETICS for CONTACT*/
.email {
  font-family: 'Permanent Marker', cursive;
  color: white;
  margin-left: 60px;
}

/*MEDIA Q*/
@media (min-width: 1137px) {
  #content-wrapper {
    flex-wrap: wrap;
  }
}

@media (min-width: 510px) {
.cart {
  90%
}
}
