* {
  margin: 0;
  padding: 0;
}


/*FLEX*/

ul {
  display: flex;
  flex-direction: row;
  max-width: 650px;
}

.row {
  justify-content: space-around;
  flex-wrap: wrap;
}

#content-wrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.main-header {
  display: flex;
  flex-direction: row-reverse;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
/*AESTHETICS for HOMEPAGE*/

.name {
  font-family: 'Permanent Marker', cursive;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Questrial', sans-serif;
  margin: 70px 30px 25px 30px;
  background-color: #f1ceb3;
}

#wrapper {
  max-width: 550px;
  background-color: #ded243;
  border-radius: 10px;
  box-shadow: 10px 10px 100px #fff;
  margin-left: 50px;
}

ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 25px
}
 .name {
   text-shadow: 9px 1px 2px white;
   margin-left: 50px;
 }

a {
    text-decoration: none;
    color: #fff;
}

footer {
  background-color: #ffb86d;
  padding: 10px;
  margin-top: 15px;
}

li {
  padding: 5px;
}

p {
  max-width: 500px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
}

.cart {
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*AESTHETICS for PHOTOGRAPHY*/
.photo-wrap {
  margin: 15px;
  box-shadow: 10px 10px 100px #fff;
  margin-top: 25px;
}

.gallery {
  background-color: #ffb86d;
}



/*AESTHETICS for CONTACT*/
.email {
  font-family: 'Permanent Marker', cursive;
  color: white;
  margin-left: 60px;
}

/*MEDIA Q*/
@media (min-width: 1137px) {
  #content-wrapper {
    flex-wrap: wrap;
  }
}

@media (min-width: 510px) {
.cart {
  90%
}
}
